body{
    font-family: 'Rubik', sans-serif;
    min-height: 100vh;
    background-image: url(images/pexels-ekamelev-813871.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #111;
    position: relative;
    opacity: 1;
}
.heders{
    text-align: center;
    color: white;
    position: static;
    border-radius: 20px;
    background: rgba(80, 77, 77, 0.25);
    box-shadow: 0 8px 32px #111;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px) ;
    border: 1px solid rgba(19, 12, 12, 0.18);
    z-index: 1;
    padding: 1em;
    overflow-y:scroll;
}
.date-search{
    text-align: center;
    color: white;
    margin-top: 37px;
    margin-left: 300px;
    border-radius: 20px;
    position: static;
    background: rgba(80, 77, 77, 0.25);
    box-shadow: 0 8px 32px #111;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px) ;
    border: 1px solid rgba(19, 12, 12, 0.18);
    z-index: 1;
    padding: 1em;
    overflow-y:scroll;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.Forcast-data{
    text-align: center;
    color: white;
    margin-top: 37px;
    margin-left: 200px;
    border-radius: 20px;
    position: static;
    background: rgba(80, 77, 77, 0.25);
    box-shadow: 0 8px 32px #111;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px) ;
    border: 1px solid rgba(19, 12, 12, 0.18);
    z-index: 1;
    padding: 1em;
    overflow-y:scroll;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.img{
    width: 100%;
    height: 100%;
}

